@{
    ViewBag.Title = "Sobre o WhoLive's";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>O aplicatico WhoLive's foi contruido com o intuito de estudar as tecnologias envolvidas . Ao finalizar o aplicatico tenho intenção de utiliza-lo como portifolio de forma que que venha a comprovar minha experiencias nas tecnologias presentes.</p>
